<%- include("header") -%>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ea hic. Fugit obcaecati inventore, reiciendis quaerat maiores tempore a minus est nam excepturi! Nam error esse fuga praesentium distinctio. Autem voluptate sint nostrum alias voluptates cupiditate perferendis! Necessitatibus non nesciunt molestiae id voluptate cum animi, quae quia voluptates ullam suscipit repellat at maxime enim eos consequatur atque explicabo reiciendis inventore esse? Officiis minus corporis doloribus rem minima soluta nihil?</p>

<%- include("footer") -%>